@font-face {
  font-style: normal;
  font-family: 'icons';
  font-weight: normal;
  src: url('/dist/fonts/icons/icons.eot');
  src: url('/dist/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
       url('/dist/fonts/icons/icons.woff') format('woff'),
       url('/dist/fonts/icons/icons.ttf');
}
