@import './_normalize.scss';

body {
  font-family: "Montserrat", Arial, sans-serif;
}

// Colors
$black: #000000;
$grayishOrange: #edebe8;

// Breakpoints
$medium: 768px;
$large:  1024px;

// Mixins
@mixin breakpoint($breakpoint) {
    @media screen and (min-width: $breakpoint), print {
        @content;
    }
}
