@import '../../globals/_globals';

.page {
  padding-top: 50px;
}

.page__header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $grayishOrange;
  z-index: 10;
}

.page__header-contain {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: $large;
  height: 50px;
  padding: 0 10px;

  @include breakpoint($large) {
    padding: 0;
  }
}

.page__header-logo {
  display: flex;
  align-items: center;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.page__header-logo-image {
  padding-right: 6px;
  width: 30px;
  height: 30px;
}
