@import '../../globals/_globals';

.privacy {}

.privacy__page-title {
  margin-bottom: 12px;
}

.privacy__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include breakpoint($medium) {
    justify-content: space-between;
  }

  & + & {
    margin-top: 20px;
  }
}

.privacy__section-title {
  @include breakpoint($medium) {
    margin-top: 0;
    width: 100%;
  }
}

.privacy__section-text {
  width: 100%;
  line-height: 1.5;

  @include breakpoint($medium) {
    width: 78%;
  }
}
